@import '../../../styles/variables';

.input {
	border: 1px solid $gray;
	background-color: $white;
	color: $text;
	height: 44px;
	padding: 1rem;
	border-radius: 0.5rem;
	&:focus-visible {
		outline: $outline auto 1px;
	}
}

.error {
	color: $error;
	margin: 0 !important;
	font-size: 11px;
}

.errorInput {
	outline: $error-outline auto 1px;
	margin-bottom: 0.2rem !important;
	&:focus-visible {
		outline: $error-outline auto 1px;
	}
}
